<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <title>TWQ Global</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/jsmodal.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="{% static "js/modal.js" %}"></script>
  <script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
  });
  </script>
</head>
<body style="background-image:url({% static "img/green_bg.png" %})">
<center>
<div class="container-fluid text-white">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6" id="content">{% block content %}{% endblock %}</div>
    <div class="col"></div> 
  </div>
</div>
</center>
</body>
</html>

