{% load static %}
{% load widget_tweaks %}
<h1 class="text-warning">Buy TWQ<br>买 TWQ</h1>
<form method="POST">
    {% csrf_token %}
    {%for buy in buyform %}
      <div class="form-group">  
        {{ buy.label }}
        {% render_field buy class="form-control" %}
      </div>
    {% endfor %}
    <input type="hidden" name="next_buy" value="{{ request.path }}">
    <button class="btn btn-info btn-block mb-5" type="submit"><strong>Buy / 确认生成转入钱包地址
</strong></button>
</form>

{% if buymessage %}
<div class="bg-success rounded m-5 p-2">
<p>Total amount to buy (TWQ):<br>购买（数字）TWQ: <strong>{{ buymessage.twqamount }}</strong></p>
<p>Total amount to pay (ETH):<br>用（数字）ETH支付: <strong>{{ buymessage.totalprice }}</strong></p>
<p>ImToken wallet address:<br>ImToken 钱包地址: <strong>{{ buymessage.itwallet }}</strong></p>
<p>Please send the above amount to the wallet (as shown below)<br>请将以上数值转入钱包（如下图所示）<p>
<img class="img-fluid" style="width:220px" src="{% static "img/qrcontract.png" %}" />
<p><strong>{{ buy_twq }}</strong></p>
<p>
To ensure that the ETH will be successfully sent to the smart contract, in your IMToken, before you click on the ‘Next’ button to send your ETH,  please click on ‘Advance’ and set the ‘Custom Gas Price’ to 4 gwei and set the ‘Custom Gas’ to 200000.<br>
为確保以太坊成功发送至智能合约,在你点击“下一个”按钮发送你的以太坊之前，请点击“提前”并將定制气价格设置为4g未，將定制气体设置为200000。
</p>
<p>
<img class="img-fluid" src="{% static "img/imtoken_example_cn.jpg" %}" />
</p>
<p class="bg-primary p-3">
<strong>Important Notice:</strong> Please send ETH from your registered Im Token wallet address<br>
<strong>重要提示：</strong> 请用注册的钱包转入ETH (非注册的钱包转入无效）
</p>
<p>The system will update buy transactions every hour<br>系统会每隔一小时更新数据</p>
</div>
{% endif %}
