{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
// Show it up when loading starts
window.addEventListener('load', function() {
  /* Remember to escape the characters to their respective valid
     HTML entities, for eg. ' will become \' */
  createModal('twqglobal.com 会员优惠奖金<br>条款和条件：<br>1）有效期將持续至2018年7月29曰<br>2）奖金计划表：<br>I)   购买>1个以太坊= 额外赠送5%TWQ<br>II）购买>5个以太坊= 额外赠送10%TWQ<br>III)  购买>10个以太坊= 额外赠送20%TWQ<br>3）加入twqglobal.com , 请联系团体管理员。');
});
</script>
<img class="img-fluid" src="{% static "img/twq_token_slant.png" %}" />
{% if message %}
<div class="bg-danger rounded">{{ message }}</div>
{% endif %}
<div class="p-3 col">
<p>{% include "login.html" %}</p>
</div>
<div class="p-3 mt-1 col">
<p>{% include "register.html" %}</p>
</div>
{% endblock %}
