{% load widget_tweaks %}
{% load i18n %}
<form action="/" method="post">
  {% csrf_token %}
    {% for login in loginform %}
    <div class="form-group">
      {{ login.label }}
      {% render_field login class="form-control" %}
    </div>
    {% endfor %}
    <p><a href="#" class="text-warning" data-toggle="popover" data-trigger="focus" title="Send an email to us at support@twqglobal.com with your phone number included for recovery." data-content="請發郵件至support@twqglobal.com 同时也附上你的电话号码以便连接。">
    Forgot your password?<br>忘记你的密码？
    </a><p>
    <input type="submit" class="btn btn-success col" name="login" value="Log In / 登陆" />
</form>
