{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="jumbotron bg-info">
<div class="bg-danger rounded">{{ message }}</div>
<h1><strong>Master Dashboard</strong></h1>
<input type="hidden" value="{{ member_id }}">
<form method="POST" action="/logout">
  {% csrf_token %}
  <input type="hidden" name="logout" value="{{ member_id }}">
  <button class="btn btn-outline-warning" type="submit">Sign Out / 退出</button>
</form>
</div>
<div class="rounded alert alert-warning">
<h2>Total Sold (TWQ)</h2>
<br><h1 class="display-4">{{ total_twq }}</h1>
</div>
<div class="rounded alert alert-success">
<h2>Total Sales (ETH)</h2>
<br><h1>{{ total_eth }}</h1>
</div>
<table class="table table-dark table-striped small">
<tr>
<th>Teams</th>
<th>Tokens Owned (TWQ)</th>
<th>Sales Value (ETH)</th>
</tr>
{% for key, value in teamleaders.items %}
<tr>
<td colspan=3>
<strong>{{ key }} (Team Leader)</strong>
</td>
</tr>
  {% for member, sales in value.items %}
    <tr>
      <td>
      {{ member }}
      </td>
      {% for item in sales %} 
        <td>{{ item }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
{% endfor %}
</table>
{% endblock %}

