{% load i18n %}
{{ message }}
<div class="row">
  <div class="col">
    <h1 class="text-warning">Your Portfolio<br> 你的资产</h1>
    <h3>TWQ Tokens:<br>TWQ代币</h3>
    <p><h1><strong>{{ twq_balance }}</strong></h1><p>
    <p><h4>ETH value / ETH市值:<br><strong>{{ eth_investment }}</strong></h4></p>
    <p><h4>
    TWQ Price as at / 相当于TWQ {{ date }}:<br><strong>{{ price }} ETH</strong>
    </h4></p>
    <p><h4>TWQ Total Bonus: <br><strong>{{ twq_bonus }}</strong></h4></p>
    <table class="table table-dark table-striped small">
    <tr>
      <th>Date</th>
      <th>TWQ Price (ETH)</th>
    </tr>
    <tr>
      <th>日期</th>
      <th>相当于TWQ</th>
    </tr>
    {% for period in schedule %}
    <tr>
      <td>{{ period.first_date }} - {{ period.last_date }}</td>
      <td>{{ period.price }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
<div class="row">
  <div class="col mb-5">
    <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button class="btn btn-success btn-block" type="submit">Refresh / 刷新</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col mb-5">
    {% if ledger %}
    <table class="table table-striped table-dark small">
      <tr>
        <th>Date</th>
        <th>Transaction</th>
        <th>Price(ETH)</th>
        <th>Buy(TWQ)</th>
        <th>Sell/Transfer(TWQ)</th>
        <th>Bonus(TWQ)</th>
      </tr>
      <tr>
        <th>日期</th>
        <th>交易</th>
        <th>ETH价格</th>
        <th>买 TWQ</th>
        <th>卖/转让 TWQ</th>
        <th>奖金 TWQ</th>
      </tr>
      {% for record in ledger %}
      <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.txn_type }}</td>
        <td>
        {% if record.txn_type == "Token Purchase" %}
        {{ record.price }}
        {% endif %}
        </td>
        <td>
        {{ record.debit }}
        </td>
        <td>
        {{ record.credit }}
        </td>
        <td>
        {{ record.bonus }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    You do not have any transactions yet<br>你还没有任何交易
    {% endif %}
  </div>
</div>
{% include 'transfer.html' %}
