{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="jumbotron bg-info">
<div class="bg-danger rounded">{{ message }}</div>
<h1><strong>{% blocktrans %}Investor's Dashboard<br>用户的后台数据库{% endblocktrans %}</strong></h1>
Welcome / 欢迎使用 <strong>{{ email }}</strong>
<p>
Member ID / 会员号: {{ member_id }}
</p>
 
<form method="POST" action="/logout">
  {% csrf_token %}
  <input type="hidden" name="logout" value="{{ member_id }}">
  <button class="btn btn-outline-warning" type="submit">Sign Out / 退出</button>
</form>

</div>
{% include 'member.html' %}
{% endblock %}
