{% load i18n %}
{% load widget_tweaks %}
<form action="/" method="post">
  {% csrf_token %}
    {% for register in registerform %}
      <div class="form-group">
      {{ register.label }}
      {% render_field register class="form-control" %}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-info col" name="register" value="Register / 注册" />
</form>
