{% load i18n %}
<div class="mt-5">
<h1 class="text-warning">Team Portfolio<br>团队资产</h1>
<form action={% url 'team' member_id %} method="post">
{% csrf_token %}
<h3>Your Member Details<br>成员详细信息</h3>
{% if members_list %}
<table class="table table-dark table-striped small">
<tr>
  <th>E-mail</th>
  <th>Member ID</th>
  <th>Total TWQ Buy</th>
  <th>Total TWQ Transfer In</th>
  <th>Total TWQ Transfer Out</th>
  <th>Total TWQ Balance</th>
  <th>Total TWQ Bonus</th>
</tr>
<tr>
  <th>邮箱</th>
  <th>会员号</th>
  <th>TWQ买入</th>
  <th>TWQ转入</th>
  <th>TWQ转出</th>
  <th>TWQ余额</th>
  <th>TWQ奖金总額</th>
</tr>
{% for member in members_list %}
  <tr>
    <td>{{ member.email }}</td>
    <td>{{ member.member_id }}</td>
    <td>{{ member.total_buy }}</td>
    <td>{{ member.total_transfer_in }}</td>
    <td>{{ member.total_transfer_out }}</td>
    <td>{{ member.total_twq }}</td>
    <td>{{ member.total_bonus }}</td>
  </tr>
{% endfor %}
</table>
{% else %}
<p>You have no members yet<br>你还没有成員</p>
{% endif %}
</form>
</div>
