{% load static %}
{% load widget_tweaks %}
<h1 class="text-warning">Sell/Transfer TWQ<br>卖/转让 TWQ</h1>
<form method="POST">
    {% csrf_token %}
    {%for transfer in transferform %}
      <div class="form-group">  
        {{ transfer.label }}
        {% render_field transfer class="form-control" %}
      </div>
    {% endfor %}
    <input type="hidden" name="next_transfer" value="{{ request.path }}">
    <button class="btn btn-warning btn-block mb-5" type="submit"><strong>Sell/Transfer / 卖/转让</strong></button>
</form>

{% if transfermessage %}
<div class="bg-success rounded m-5 p-2">
<p>Amount to transfer (TWQ):<br>
转让数值(TWQ) :<br><strong>{{ transfermessage.twqamount }}</strong></p>
<p>Your buyers's e-mail address or membership number:<br>
你下线的邮箱地址/会员号 :<br><strong>{{ transfermessage.buyer }}</strong></p>
<p>Transfer fee payable (ETH):<br>
转让手续费(ETH) :<br><strong>{{ transfermessage.txn_fee }}</strong></p>
<p>Please send the above transfer fee to the wallet address (as shown below) :
<br>请将转让手续费转入钱包（如下图所示）:
<br>
<img class="img-fluid" style="width:220px" src="{% static "img/qrtxn.png" %}" />
<br><strong>{{ txn_fee_add }}</strong></p>
</div>
{% endif %}

